In [29]:
type(a)

int

In [5]:
print('pagal')

pagal

In [7]:
print('a')

a

In [27]:
thisisastring="tera"

In [28]:
thisisastring

'tera'

In [1]:
print('hello');  print('gthf')

hello
gthf

In [ ]:
name ="suraj"

In [7]:
type(10)

int

In [8]:
a = 10
type(a)

int

In [26]:
thisIsAName= "name"
type(thisIsAName)

str

In [17]:
thisIsADecimalNumber =3.4
thisIsADecimalNumber

3.4

In [19]:
type(thisIsADecimalNumber)

float

In [24]:
thisIsAName = "suraj"
type(thisIsAName)

str

In [25]:
thisIsAName

'suraj'

In [30]:
a = 4
type(a)

int

In [31]:
thisisaname="suraj"
thisisaname

'suraj'

In [32]:
type(thisisaname)

str

In [33]:
thisisadecimalnumber=34.5
thisisadecimalnumber

34.5

In [34]:
type(thisisadecimalnumber)

float

In [37]:
a=4
b=5
a+b

9

In [38]:
a-b

-1

In [39]:
a*b

20

In [40]:
a/b

0.8

In [41]:
a%b

4

In [43]:
a=45677
b=6438735.4546
a+b

6484412.4546

In [44]:
a-b

-6393058.4546

In [45]:
a*b

294102119359.7642

In [46]:
a/b

0.007094094845497521

In [47]:
a%b

45677.0

In [52]:
name = "learn python"
name

'learn python'

In [56]:
name.capitalize()

'Learn python'

In [62]:
name.casefold()

'learn python'

In [60]:
name.index("a")

2

In [63]:
address = "vill garhi hasanpur"
address

'vill garhi hasanpur'

In [64]:
address

'vill garhi hasanpur'

In [75]:
name + " "+  address

'learn python vill garhi hasanpur'

In [79]:
name.split()

['learn', 'python']

In [80]:
address.split()

['vill', 'garhi', 'hasanpur']

In [81]:
name[8]

't'

In [5]:
lst = [23,34.5,"multiple","python"]
lst

[23, 34.5, 'multiple', 'python']

In [6]:
type(lst)

list

In [13]:
lst[2]

'multiple'

In [10]:
lst[0]

23

In [12]:
lst[3]

'python'

In [14]:
lst[-1] #for last element

'python'

In [17]:
lst = [23,34.5,"multiple",["sublist","python",5543],"python"]
lst

[23, 34.5, 'multiple', ['sublist', 'python', 5543], 'python']

In [20]:
lst[3]

['sublist', 'python', 5543]

In [21]:
lst[3][2]

5543

In [23]:
lst[-2]

['sublist', 'python', 5543]

In [25]:
lst[-2][-1]

5543

In [30]:
lst.append("end")    #if we want to add something to the end of the list is done by append

In [31]:
lst

[23,
 34.5,
 'multiple',
 ['sublist', 'python', 5543],
 'python',
 'father',
 'father',
 'end']

In [32]:
lst.insert(2,"2nd") #to ads something in somewhere of the list we use insert

In [33]:
lst

[23,
 34.5,
 '2nd',
 'multiple',
 ['sublist', 'python', 5543],
 'python',
 'father',
 'father',
 'end']

 # 2nd assgn-try 5 different functions of the list object in python

# Tuples :-

tuples are immutable and they are not editable once it is declared

In [34]:
tup = ("we","are","new")

In [35]:
tup

('we', 'are', 'new')

In [36]:
tup.count("are")

1

In [37]:
tup.index("new")

2

In [38]:
# where do we use tuple

we use tuples where the constant value is assign as someone's dob,pan no etc.

In [1]:
tup = ("garhi hasanpur","tera baap")

In [2]:
tup

('garhi hasanpur', 'tera baap')

In [7]:
tup.count("tera baap")

1

In [ ]:
tup.index("garhi hasanpur")

# what is dictionary?

In [ ]:
 # we use dictionary for key value pair

#ex of list:- a socity with row houses and having starting from 0

In [1]:
 dit = {"key":"value","key1":1,"key2":2}

In [2]:
dit

{'key': 'value', 'key1': 1, 'key2': 2}

In [4]:
dit["key"]

'value'

In [5]:
dit["key1"]

1

In [6]:
dit["key2"]

2

In [9]:
ditperson = {"name":"suraj","age":21,"email":"surajsharma.ac.in"}

In [10]:
ditperson

{'name': 'suraj', 'age': 21, 'email': 'surajsharma.ac.in'}

In [13]:
ditperson.get("name")

'suraj'

In [14]:
ditperson.get("email")

'surajsharma.ac.in'

In [15]:
ditperson["name"]

'suraj'

In [16]:
ditperson["email"]

'surajsharma.ac.in'

In [21]:
dit1 = {"name":{"key1":1,"key2":2,"key3":3},"age":20,"course":"mca"}

In [22]:
dit1

{'name': {'key1': 1, 'key2': 2, 'key3': 3}, 'age': 20, 'course': 'mca'}

In [28]:
dit1["name"]["key1"]

1

In [29]:
dit1.get("name").get("key3")

3

# if else and elif

#if i want sonthing. if that is not there then give this

In [30]:
num = 4

In [41]:
if num ==4:
    print("hey its 4")

In [42]:
if num ==4:
    print("hey its 4")
else:
    print("else this is not 4")

else this is not 4

In [49]:
num = 45

if num < 56 :
    print("number is less than 56")
elif num == 56:
    print("number is exactly 56")
else: 
    print("number is greater than 56")

number is less than 56

In [51]:
num = 56

if num < 56 :
    print("number is less than 56")
elif num == 56:
    print("number is exactly 56")
else: 
    print("number is greater than 56")

number is exactly 56

In [52]:
num = 88

if num < 56 :
    print("number is less than 56")
elif num == 56:
    print("number is exactly 56")
else: 
    print("number is greater than 56")

number is greater than 56